<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ClazzInfo</title>
</head>
<body>
<button id="create">create a clazz</button>
<p>About Create a Job</p>
<p style="color: red">1. Input the job name</p>
<p style="color: red">2. Input the target filename style ($username:180604124 $classname:A18计算机 $realname：方靓仔)</p>
<p style="color: red">such as:$username $classname $realname</p>
<p style="color: red">3. Input the deadline(yyyy-MM-dd hh:mm:ss)</p>
<p style="color: red">4. Input the separator(such as \blank space)</p>
<p style="color: red">5. Input the clazzid separate by blank space(such as:1 2 3)</p>
<button id="createJob">create a Job.</button>

<p>Import Students</p>
<p style="color: red">Attention:</p>
<p style="color: red">1.The file type must be .txt. eg:"user.txt"</p>
<p style="color: red">2.The content of text should be "studentId\t(Tab)realname". eg:"180604100 靓仔"</p>
<p style="color: red">3.Click the number to submit the file</p>
<p>The following is clazz info.</p>
<p hidden="hidden" th:value="${clazzs.size()}"></p>
<ul th:each="clazz:${clazzs}">
    <li>
        <p>click to update the clazzName</p>
        <button th:text="${clazz.getClazzName()}" th:value="${clazz.getId()}" onclick="
            let clazzId = $(this).attr('value');
            let clazzName = prompt('Input the class name');
            $.ajax({
                type: 'post',
                url: '/manager/clazz/update/name?clazzName=' + clazzName + '&clazzId='+clazzId,
                contentType: 'application/json;charset=UTF-8',
                success: (res) => {
                    alert(res.msg);
                }
            });
        "></button>
        <span th:text="${clazz.getStudentCount()}"></span>
        <button th:value="${clazz.getId()}" onclick="
            $.ajax({
                type: 'post',
                url: '/manager/clazz/info?clazzId='+ $(this).attr('value'),
                contentType: 'application/json;charset=UTF-8',
                success: (res) => {
                    // 获取后台传入的用户数据
                    console.log(res.data)
                }
            })
        ">Modify
        </button>
        <span>Choose the file to upload</span>
        <input type="file" name="file" enctype="multipart/form-data" th:id="|file${clazz.getId()}|">
        <input type="submit" th:value="${clazz.getId()}" onclick="
            let fileId = '#file' + $(this).attr('value');
            console.log(fileId);
            let formdata = new FormData();
            console.log($(fileId).attr('name'));
            formdata.append('file',$(fileId)[0].files[0]);

            $.ajax({
                type: 'post',
                url: '/manager/clazz/import?clazzId=' + $(this).attr('value'),
                processData: false,
                data: formdata,
                contentType: false,
                success: (res) => {
                    alert(res.msg);
                }
            })
        ">
    </li>
</ul>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script>

    $('#create').click(() => {
        var clazzName = prompt("Input the class name");
        $.ajax({
            type: "post",
            data: JSON.stringify(
                {"clazzName": clazzName}
            ),
            contentType: "application/json;charset=UTF-8",
            url: "/manager/clazz/create",
            success: (result) => {
                alert(result.msg);
                location.reload();
            },
            error: (result) => {
                alert("Error");
            }
        })
    })

    $('#createJob').click(() => {
        var jobName = prompt("Input the job name");
        var jobfilename = prompt("Input the target filename style");
        var deadline = prompt("Input the job's deadline");
        var separator = prompt("Input the job name separator");
        var clazzIds = prompt("Input the class ids(such as '1,3,4,4')");
        var data = JSON.stringify(
            {
                "jobName": jobName,
                "jobfilename": jobfilename,
                'deadline': deadline,
                'separator': separator,
                'clazzIds': clazzIds.split(",")
            }
        );
        console.log(data);
        $.ajax({
            type: "post",
            data: data,
            contentType: "application/json;charset=UTF-8",
            url: "/manager/job/create",
            success: (result) => {
                alert(result.msg);
                location.reload();
            },
            error: (result) => {
                alert("Error");
            }
        })
    })
</script>
</html>