<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ClazzInfo</title>
</head>
<body>
<button id="create">create a clazz</button>
<p>The following is clazz info.</p>
<p hidden="hidden" th:value="${clazzs.size()}"></p>
<ul th:each="clazz:${clazzs}">
    <li>
        <button th:text="${clazz.getClazzName()}"></button>
        <span th:text="${clazz.getStudentCount()}"></span>
        <button th:value="${clazz.getId()}" th:id=|Modify"${clazz.getId()}"| onclick="
            $.ajax({
                type: 'post',
                url: '/manager/clazz/info?clazzId='+ $(this).attr('value'),
                contentType: 'application/json;charset=UTF-8',
                success: (res) => {
                    // 获取后台传入的用户数据
                    console.log(res.data)
                }
            })
        ">Modify</button>
        <span>Choose the file to upload</span>
        <form>
            <input type="file" name="Add Student">
        </form>
    </li>
</ul>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script>

    $('#create').click(() => {
        var clazzName = prompt("Input the class name");
        $.ajax({
            type: "post",
            data: JSON.stringify(
                {"clazzName": clazzName}
            ),
            contentType: "application/json;charset=UTF-8",
            url: "/manager/clazz/create",
            success: (result) => {
                alert(result.msg);
                location.reload();
            },
            error: (result) => {
                alert("Error");
            }
        })
    })
</script>
</html>