<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<h1>This is Manager Main</h1>
<p style="color: red" th:text="${msg}"></p>
<a th:href="@{/manager/clazz}">Clazz Info</a>
<a th:href="@{/user/logout}">logout</a>
<p>The following is a valid job.</p>
<ul th:each="job:${jobs}">
    <li><span th:text="${job.getJobName()}"></span></li>
</ul>
<p>The following is a invalid job.</p>
<ul>
    <li>Hello</li>
    <li>hi</li>
</ul>
</body>
</html>