<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.hellooooo.job.mapper.UserMapper">

    <!--    根据ClassId获取班级-->
    <select id="getClazzByClazzId" parameterType="int" resultType="Clazz">
        select *
        from j_clazz
        where id = #{clazz_id};
    </select>

    <resultMap id="userMap" type="User">
        <result property="accountStatus" column="account_status"
                typeHandler="top.hellooooo.job.handler.AccountStatusTypeHandler"/>
        <result property="role" column="roles" typeHandler="top.hellooooo.job.handler.RoleTypeHandler"/>
        <association property="clazz" column="clazz_id" select="getClazzByClazzId"/>
    </resultMap>

    <!--    通过username获取用户-->
    <select id="getUserByUsername" parameterType="string" resultMap="userMap">
        select *
        from j_user
        where username = #{username} limit 1;
    </select>


    <select id="getUserFromBlackListByUsername" parameterType="string" resultMap="userMap">
        select *
        from j_user
                 join j_blacklist jb on j_user.id = jb.user_id
        where j_user.username = #{username};
    </select>


    <update id="updateUser" parameterType="User">
        update j_user
        set username       = #{username},
            real_name      = #{realName},
            password       = #{password},
            nickname       = #{nickname},
            avatar         = #{avatar},
            account_status = #{accountStatus,typeHandler=top.hellooooo.job.handler.AccountStatusTypeHandler}
        where id = #{id};
    </update>

    <!--    需要注意，这里并不包含Clazz，插入用户时还需要插入Clazz-->
    <insert id="insertUser" parameterType="User">
        insert into j_user
        values (default,
                #{username},
                #{clazz.id}
                #{realName},
                #{password},
                #{nickname},
                #{avatar});
    </insert>


    <insert id="batchInsertUser" parameterType="list">
        insert into j_user values
        <foreach collection="list" item="user" separator=",">
            (
            default,
            #{user.username},
            #{user.clazz.id},
            #{user.realName},
            #{user.password},
            #{user.nickname},
            #{user.avatar},
            #{user.accountStatus,typeHandler=top.hellooooo.job.handler.AccountStatusTypeHandler}
            )
        </foreach>
    </insert>

    <insert id="insertClazz" parameterType="Clazz" useGeneratedKeys="true">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into j_clazz
        values (default,
                #{clazzName},
                #{studentCount});
    </insert>

    <insert id="insertClazzAdminInfo">
        insert into j_clazz_admin values(default ,#{clazzId},#{userId});
    </insert>

    <update id="updateClazz" parameterType="Clazz">
        update j_clazz
        set clazz_name    = #{clazzName},
            student_count = #{studentCount}
        where id =
              #{id}
    </update>

    <resultMap id="securityURIMap" type="SecurityURI">
        <result column="roles" property="roles" typeHandler="top.hellooooo.job.handler.RoleTypeHandler"/>
    </resultMap>

    <select id="getSecurityURI" resultMap="securityURIMap">
        select *
        from j_uri_security;
    </select>

    <select id="getClazzsByAdminId" resultType="Clazz" parameterType="int">
        select j_clazz.id,j_clazz.clazz_name,j_clazz.student_count
        from j_clazz
                 join j_clazz_admin on j_clazz.id = j_clazz_admin.clazz_id
            and j_clazz_admin.user_id = #{id}
    </select>
</mapper>